.wrapper {
  margin: 100px auto;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.card {
  max-width: 200px;
  height: 500px;
  margin: 50px;
  flex: 1;
}

.card__img {
  background-color: bisque;
  width: 100%;
  height: 200px;
  flex: 1;
}